h1 {
    text-align: center;
}

.players {
    margin-bottom: 15px;
}

.players.loading {
    background-color: #dddddd;
}

.player {
    position: relative;
}

.player h2 {
    font-size: 1.1em;
    margin: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.player-item {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.placeholder {
    background-color: #ffffff;
    border: 1px dashed #cccccc;
    margin-bottom: 15px;
    padding: 10px;
}

.player-item .handle {
    font-size: 20px;
    float: right;
    margin-left: 10px;
    color: #222222;
    cursor: move;
}

.player-item.loading {
    border-color: red;
}

.player-item.playing {
    border-color: blue;
}

.player-item .timing {
    color: #aaaaaa;
    float: right;
}

.player-item .position {
    color: transparent;
}

.player-item.playing .position {
    color: inherit;
    display: inline;
}

.controls {
    margin: 10px auto;
    text-align: center;
}

.controls button {
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #cccccc;
    display: inline-block;
    padding: 5px 10px;
    text-align: center;
    white-space: nowrap;
}
.controls .play-pause {
    min-width: 90px;
}
.controls button:focus {
    outline: none;
}

.controls button i {
    margin-right: 10px;
}

.position-marker {
    color: #aaaaaa;
    display: none;
    position: absolute;
    top: 0;
    left: -1em;
    vertical-align: middle;
}
.playing .position-marker {
    display: block;
}

#footer {
    color: #aaaaaa;
}
