h1 {
    text-align: center;
}

.players {
    background-color: white;
}

.players.loading {
    background-color: #eeeeee;
}

.player {
    display: inline-block;
    position: relative;
}

.player-item {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    margin-bottom: 15px;
    padding: 10px;
    position: relative;
}

.player-item.loading {
    border-color: red;
    display: none;
}

.player-item.playing {
    border-color: blue;
}

.player-item .timing {
    color: #aaaaaa;
    float: right;
}

.controls {
    margin: 20px auto;
    text-align: center;
    width: 20%;
}

.controls button {
    background-color: #ffffff;
    box-shadow: none;
    border: 1px solid #cccccc;
    padding: 5px 10px;
    position: relative;
    min-width: 90px;
    white-space: nowrap;
}

.controls button:focus {
    outline: none;
}

.controls button i {
    margin-right: 10px;
}

.position-marker {
    color: #aaaaaa;
    display: none;
    position: absolute;
    top: 0;
    left: -1em;
    vertical-align: middle;
}
.playing .position-marker {
    display: block;
}
